@-webkit-keyframes lo {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes lo {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

html,
body {
  height: 100%;
  margin: 0
}

.hide7 {
  display: none
}

#imag7 {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: #000;
  color: #777;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99999999;
}

#imag7 * {
  font: 12px/4 sans-serif;
  box-sizing: border-box;
  position: absolute;
  padding: 0;
  margin: 0;
}

#foot7,
#onow7 {
  text-indent: 50px;
  bottom: 24px;
  overflow: hidden
}

#alts7 {
  margin-right: 50px;
  overflow: hidden;
  text-overflow: ellipsis
}

#insi7 img,
#insi7,
#alts7,
#stat7 {
  max-height: 100%;
  max-width: 100%;
  position: relative;
}

#clos7,
#ilef7,
#irig7,
#play7,
#wdow7 {
  opacity: .7
}

#left7:hover,
#rigt7:hover,
#left7:hover button,
#rigt7:hover button,
#imag7 button:focus,
#imag7 button:hover {
  background: rgba(77, 77, 77, .2);
  outline: 0;
  opacity: 1;
  cursor: pointer
}

#imag7 button:active,
#left7:active #ilef7,
#rigt7:active #irig7 {
  opacity: .3
}

#left7,
#rigt7 {
  width: 20%;
  min-width: 96px;
  height: 100%;
}

#ilef7,
#insi7 img,
#irig7 {
  top: 50%;
  z-index: -1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}

#imag7 button {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 0;
  background: rgba(0, 0, 0, .2);
}

#clos7:after,
#imag7,
#left7,
#rigt7,
#wdow7 {
  top: 0
}

#imag7,
#left7,
#play7 {
  left: 0
}

#rigt7,
#wdow7 {
  right: 0
}

#clos7 {
  top: 24px
}

#ilef7::after,
#irig7::after {
  content: '';
  padding: 9px;
  position: absolute;
  transition: .1s transform;
  top: 14px
}

#clos7,
#irig7,
#onow7 {
  right: 24px;
  text-align: right
}

#foot7,
#ilef7 {
  left: 24px
}

#clos7:before,
#irig7::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

#clos7:after,
#ilef7::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

#ilef7::after {
  border-left: 2px solid #eee;
  border-top: 2px solid #eee;
  left: 14px
}

#irig7::after {
  right: 14px;
  border-right: 2px solid #eee;
  border-top: 2px solid #eee
}

#left7:hover #ilef7::after {
  -webkit-transform: translateX(-2px) rotate(-45deg);
  -ms-transform: translateX(-2px) rotate(-45deg);
  transform: translateX(-2px) rotate(-45deg)
}

#rigt7:hover #irig7::after {
  -webkit-transform: translateX(2px) rotate(45deg);
  -ms-transform: translateX(2px) rotate(45deg);
  transform: translateX(2px) rotate(45deg)
}

#clos7::after,
#clos7::before {
  border-left: 2px solid #eee;
  content: '';
  display: block;
  height: 30px;
  left: 23px;
  position: absolute;
  top: 10px;
  width: 0
}

#cent7 {
  top: 0;
  width: 100%;
  left: 0
}

#cent7,
#insi7 {
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

#insi7 img[src*=".svg"] {
  background: #fafafa
}

#play7::before,
.spin7::after {
  border-radius: 50%;
  height: 24px;
  width: 24px
}

.spin7::after {
  -webkit-animation: lo .3s linear infinite;
  animation: lo .3s linear infinite;
  border: 2px solid #aaa;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  left: 50%;
  margin: -12px 0 0 -12px;
  top: 50%;
}

#down7,
#play7::before {
  border: 2px solid #eee;
  left: 12px
}

#down7 {
  border-radius: 0 0 2px 2px;
  top: 27px;
  height: 6px;
  width: 24px;
  z-index: -1;
  pointer-events: none;
  border-top: 0
}

#play7::before {
  transition: .2s border-radius;
  top: 12px
}

#play7.acts7::before {
  border-radius: 4px
}

#down7::after,
#down7::before,
#play7::after,
#play7::before,
.spin7::after {
  box-sizing: border-box;
  content: '';
  position: absolute
}

#play7::after {
  border-color: transparent #eee;
  border-style: solid;
  border-width: 5px 0 5px 12px;
  left: 19px;
  top: 19px;
  width: 10px
}

#play7.acts7::after {
  border-width: 0 2px;
  padding-top: 10px;
}

#down7::after {
  border-bottom: 2px solid #eee;
  border-left: 2px solid #eee;
  bottom: 3px;
  height: 12px;
  left: 4px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 12px
}

#down7::before {
  background: #eee;
  height: 18px;
  left: 9px;
  top: -16px;
  width: 2px
}